{% extends "hod/base.html" %}
{% block content %}
<h2 class="page-title">Change HOD Password</h2>
<div class="card" style="max-width: 500px;">
    <form method="POST" class="form-group">
        <label>Current Password</label>
        <input type="password" name="current_password" required>
        <label>New Password</label>
        <input type="password" name="password" required>
        <button class="btn btn-blue" style="margin-top: 10px; width: 100%;">Update Password</button>
    </form>
</div>
{% endblock %}